*, div, span {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* navigation */
.navigation {
  vertical-align: middle;
  height: 90px;
  line-height: 90px;
}

.navigation h1 {
  font-size: 42px;
  font-family: 'century gothic';
  text-align: left;
  display: inline-block;
}

.navbutton {
  display: inline-block;
  width: 100px;
  font-size: 16px;
  text-align: right;
}

.navbutton:hover {
  color: rgb(142, 240, 247);
}

.navbutton-container {
  display: inline-block;
  text-align: right;
}

@media all and (max-width: 480px) {
  .navigation h1 {
    display: block;
    text-align:center;
  }

  .navbutton {
    text-align: center;
  }

  .navbutton-container {
    display: block;
    text-align: center;
  }
}

@media all and (min-width: 1200px) {
  .navbutton {
    visibility: hidden;
  }
}
/*end navigation */

/* port row */
.port-row {
  padding: 15px;
  padding-top: 0px;
}

.port-container-link a {
  display: inline-block;
}

.port-container:hover {
  background-color: rgb(206,253,227);
  border: 2px solid rgb(133,250,185);
}
/* end port row */

/*container box */
/*end container box */

/* port-container */
.port-container {
  padding: 10px;
}
/*end port-container */

/* profile-container */
.profile-upper {
  padding: 20px;
}

.profile-upper p {
  text-align: center;
}

.profile-upper-container {
  display: inline-block;
  width: 90%;
  margin: auto;
}

.about-img {
  border: 2px solid black;
  border-radius: 50%;
  height: 190px;
  margin: 10px;
}

.btn {
  display:inline-block;
  min-width: 80px;
}

.profile-lower h2 {
  display: inline-block;
}

.profile-lower p {
  font-size: 18px;
}
/* end profile-container */
